p.profile{
    font-family: 'Raleway', sans-serif;
}

h1.header{
    font-family: 'Poppins', sans-serif;
    color: white;
    font-size: medium;
}

h2.nama{
    font-family: 'Raleway', sans-serif;
    font-size: large;
    font-weight: bold;
    text-align: center;
    padding-bottom: 5px;
}

.card-text{
    text-align: justify;
}

#content{
    padding-left: 2%;
    margin-top: 2%;
}

.list-group-item{
    font-family: 'Poppins', sans-serif;
}

.title{
    font-family: 'Raleway', sans-serif;
    font-size: large;
    font-weight: bold;
    text-align: center;
    padding-bottom: 5px;
}

.description{
    font-family: 'Poppins', sans-serif;
}

#v-pills-messages{
    text-align: justify;
    line-height: 2em;
}